{%extends 'base.html' %}
{%block title%} TRIPS PAGE %endblock%

{%block content%}

<table class="table table-striped m-5">
<tr>
    <th>Name</th>
    <th>Level</th>
    <th>Start Date</th>
    <th>Location</th>
    <th>Length</th>
    <th>Leader</th>
    <th>Cost</th>
</tr>
{% for trip in trips %}
<tr>
    <td>{{trip['name'}}</td>
    <td>{{trip['level'}}</td>
    <td>{{trip['start date'}}</td>
    <td>{{trip['location'}}</td>
    <td>{{trip['length'}}</td>
    <td>{{trip['leader'}}</td>
</tr>


{%endfor%}
</table>

{%endblock%}