{% extends 'base.html' %}
{% block title %} MEMBER FORM {% endblock %}

{% block content %}
<br>
<br>

<h1 class="mt-5"><strong>Add A New Member!</strong></h1>

<br>

<form name="add_members" action="{{url_for('add_members')}}" method="POST" class="text-center">
    <div class="form-group row mb-3">
        <label for="name" class="col-sm-2">Name:</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="name" name="name">
        </div>
      </div>

    <div class="form-group row mb-3">
      <label for="address" class="col-sm-2">Address:</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="address" name="address">
      </div> 
    </div>

    <div class="form-group row mb-3">
        <label for="email" class="col-sm-2">Email:</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="email" name="email">
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="phone" class="col-sm-2">Phone:</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="phone" name="phone">
        </div>
      </div>
    <!-- input type= date-input -->
    <!-- https://www.w3schools.com/tags/att_input_type_date.asp -->
    <div class="form-group row mb-3">
        <label for="birthdate" class="col-sm-2">DOB:</label>
        <div class="col-sm-5">
          <input type="date" id="DoB" name="DoB">
        </div>
    </div>
    

    <br>
  
  <div class="text-right">
    <button type="submit" value="Submit" class="btn btn-primary">Save</button>
    <button type="reset" value="Reset" class="btn btn-secondary">Reset</button>
  </div>

</form>



{% endblock %}