{% extends 'base.html' %}
{% block title %} MEMBERS PAGE {% endblock %}

{% block content %}
<br> </br>
<h1 class="mt-5"><strong>Outdoor Adventuring Club Members</strong></h1>
<!-- Table headers -->
<table class="table table-striped mt-5">
<tr>
    <th>Name</th>
    <th>DoB</th>
    <th>Email</th>
    <th>Address</th>
    <th>Phone</th>
</tr>
<!-- I created a for loop to loop through data from the member_data csv -->
{% for member in members %}
<tr>
    <td>{{member['name']}}</td>
    <td>{{member['DoB']}}</td>
    <td>{{member['email']}}</td>
    <td>{{member['address']}}</td>
    <td>{{member['phone']}}</td>
</tr>


{% endfor %}
</table>

<div class="text-center">
<a class="btn btn-primary" href="{{url_for('members_create')}}" role="button">Add a Member</a>
</div>
{% endblock %}