{% extends 'base.html' %}
{% block title %} TRIPS FORM {% endblock %}

{% block content %}
<br>
<br>

<br>

{% if trip_id %}
  {% set trip_name= trip['name'] %}
  {% set trip_location= trip['location'] %}
  {% set trip_date= trip['start_date'] %}
  {% set trip_length= trip['length'] %}
  {% set trip_level= trip['level'] %}
  {% set trip_cost= trip['cost'] %}
  {% set trip_leader= trip['leader'] %}
  {% set trip_description= trip['description'] %}

  <h1>Edit Trip: {{trip['name']}}</h1>

{% else %}
  {% set trip_name= '' %}
  <h1>Add A New Trip!</h1>

{% endif %}

<!-- need an if statement for adding/handling -->
<!-- take a look at dino.site , add.dino and dino.quiz -->
<!-- the action will be different for add/edit -->
<form name="add_trips" method="POST" class="text-center">
    <div class="form-group row mb-3">
        <label for="name" class="col-sm-2">Trip Name:</label>
        <div class="col-sm-7">
          <input type="text" value="{{trip_name}}" class="form-control" id="name" name="name">
        </div>
      </div>

    <div class="form-group row mb-3">
      <label for="location" class="col-sm-2">Trip Location:</label>
      <div class="col-sm-7">
        <input type="text" value="{{trip_location}}" class="form-control" id="location" name="location">
      </div>
    </div>

      <div class="form-group row mb-3">
        <label for="birthdate" class="col-sm-2">Start Date:</label>
        <div class="col-sm-7">
          <input type="date" value="{{trip_date}}" id="start_date" name="start_date">
        </div>
    </div>

    <div class="form-group row mb-3">
      <label for="birthdate" class="col-sm-2">Trip Length:</label>
      <div class="col-sm-7">
        <input type="text" value="{{trip_length}}" class="form-control" id="length" name="length">
      </div>
  </div>

  <div class="form-group row mb-3">
    <label for="birthdate" class="col-sm-2">Activity Level:</label>
    <div class="col-sm-7">
      <input type="text" value="{{trip_level}}" class="form-control" id="level" name="level">
    </div>
</div>


    <div class="form-group row mb-3">
      <label for="cost" class="col-sm-2">Cost:</label>
      <div class="col-sm-7">
        <input type="text" value="{{trip_cost}}" class="form-control" id="cost" name="cost" placeholder="$">
      </div>
    </div>


      <div class="form-group row mb-3">
        <label for="leader" class="col-sm-2">Trip Leader:</label>
        <div class="col-sm-7">
          <input type="text" value="{{trip_leader}}" class="form-control" id="leader" name="leader">
        </div>
      </div>

      <div class="form-group row mb-3">
        <label for="description" class="col-sm-2">Description:</label>
        <div class="col-sm-7">
          <input type="text" value="{{trip_description}}" class="form-control" id="description" name="description">
        </div>
      </div>
      


    
    <!-- input type= date-input -->
    <!-- https://www.w3schools.com/tags/att_input_type_date.asp -->

<div class="text-right">
  <button type="submit" value="Submit" class="btn btn-primary">Save</button>
  <button type="reset" value="Reset" class="btn btn-secondary">Reset</button>
</div>

</form>



{% endblock %}